<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
	<add key="SML" value="https://pkgs.dev.azure.com/smlbrasil-products/3550b535-2f82-41ef-bbe8-5c29fe86ac32/_packaging/smlpdi_nuget/nuget/v3/index.json" />
  </packageSources>
</configuration>
